In [1]:
import sqlite3

In [4]:
import sqlite3

# Conectar a la base de datos
conn = sqlite3.connect('bd2.db')
cursor = conn.cursor()

# Crear la tabla contenedor
cursor.execute('''
    CREATE TABLE IF NOT EXISTS contenedor (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL
    )
''')

# Crear la tabla contenedor2 (Facultades)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS contenedor2 (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name_abreviado TEXT NOT NULL,
        name_completo TEXT NOT NULL,
        url_paginaweb TEXT
    )
''')

# Crear la tabla contenedor3 (Especialidades)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS contenedor3 (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name_especialidad TEXT NOT NULL,
        url_paginaweb TEXT
    )
''')

# Crear la tabla contenedor4 (Eventos)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS contenedor4 (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        descripcion TEXT,
        medio TEXT,
        responsable TEXT,
        procesa TEXT,
        observacion TEXT,
        start_date DATETIME NOT NULL,
        end_date DATETIME,
        backgroundColor TEXT,
        textColor TEXT,
        allDay BOOLEAN
    )
''')

# Crear tabla intermedia entre contenedor y contenedor2 (Contenedores -> Facultades)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS contenedor_contenedor2 (
        contenedor_id INTEGER,
        contenedor2_id INTEGER,
        PRIMARY KEY (contenedor_id, contenedor2_id),
        FOREIGN KEY (contenedor_id) REFERENCES contenedor(id),
        FOREIGN KEY (contenedor2_id) REFERENCES contenedor2(id)
    )
''')

# Crear tabla intermedia entre contenedor2 y contenedor3 (Facultades -> Especialidades)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS contenedor2_contenedor3 (
        contenedor2_id INTEGER,
        contenedor3_id INTEGER,
        PRIMARY KEY (contenedor2_id, contenedor3_id),
        FOREIGN KEY (contenedor2_id) REFERENCES contenedor2(id),
        FOREIGN KEY (contenedor3_id) REFERENCES contenedor3(id)
    )
''')

# Crear tabla intermedia entre contenedor3 y contenedor4 (Especialidades -> Eventos)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS contenedor3_contenedor4 (
        contenedor3_id INTEGER,
        contenedor4_id INTEGER,
        PRIMARY KEY (contenedor3_id, contenedor4_id),
        FOREIGN KEY (contenedor3_id) REFERENCES contenedor3(id),
        FOREIGN KEY (contenedor4_id) REFERENCES contenedor4(id)
    )
''')

# Guardar los cambios
conn.commit()

# Insertar datos en la tabla contenedor
cursor.execute('''
    INSERT INTO contenedor (name) VALUES ('Facultades Generales')
''')

# Insertar datos en la tabla contenedor2 (Facultades)
cursor.execute('''
    INSERT INTO contenedor2 (name_abreviado, name_completo, url_paginaweb) 
    VALUES ('A', 'Arquitectura', 'http://arquitectura.ejemplo.com')
''')

# Insertar datos en la tabla contenedor3 (Especialidades)
cursor.execute('''
    INSERT INTO contenedor3 (name_especialidad, url_paginaweb) 
    VALUES ('Ingeniería Civil', 'http://civil.ejemplo.com')
''')

# Insertar datos en la tabla contenedor4 (Eventos)
cursor.execute('''
    INSERT INTO contenedor4 (name, descripcion, start_date, end_date, backgroundColor, textColor, allDay) 
    VALUES ('Conferencia de Ingeniería', 'Charla técnica sobre ingeniería civil', '2024-10-15 09:00:00', '2024-10-15 12:00:00', '#FF0000', '#FFFFFF', 0)
''')

# Insertar relación en la tabla intermedia contenedor_contenedor2
cursor.execute('''
    INSERT INTO contenedor_contenedor2 (contenedor_id, contenedor2_id) 
    VALUES (1, 1)  -- Relaciona el contenedor con la facultad
''')

# Insertar relación en la tabla intermedia contenedor2_contenedor3
cursor.execute('''
    INSERT INTO contenedor2_contenedor3 (contenedor2_id, contenedor3_id) 
    VALUES (1, 1)  -- Relaciona la facultad con la especialidad
''')

# Insertar relación en la tabla intermedia contenedor3_contenedor4
cursor.execute('''
    INSERT INTO contenedor3_contenedor4 (contenedor3_id, contenedor4_id) 
    VALUES (1, 1)  -- Relaciona la especialidad con el evento
''')

# Guardar los cambios
conn.commit()

# Cerrar la conexión
conn.close()

In [6]:
import sqlite3

# Conectar a la base de datos
conn = sqlite3.connect('bd2.db')
cursor = conn.cursor()

# Crear la vista que une los datos de las tablas
cursor.execute('''
    -- Crear o recrear la vista con las nuevas columnas de imagen
CREATE VIEW vista_contenedores2 AS
    SELECT 
        c.id AS contenedor_id,
        c.name AS contenedor_name,
        c2.id AS facultad_id,
        c2.name_abreviado AS facultad_abreviado,
        c2.name_completo AS facultad_completo,
        c2.url_paginaweb AS facultad_url,
        c2.nombre_imagen AS facultad_imagen, -- Nueva columna para la imagen de la facultad
        c3.id AS especialidad_id,
        c3.name_especialidad AS especialidad_name,
        c3.url_paginaweb AS especialidad_url,
        c3.nombre_imagen AS especialidad_imagen, -- Nueva columna para la imagen de la especialidad
        c4.id AS evento_id,
        c4.name AS evento_name,
        c4.descripcion AS evento_descripcion,
        c4.start_date AS evento_inicio,
        c4.end_date AS evento_fin,
        c4.backgroundColor AS evento_backgroundColor,
        c4.textColor AS evento_textColor,
        c4.allDay AS evento_allDay
    FROM 
        contenedor c
        JOIN contenedor_contenedor2 cc2 ON c.id = cc2.contenedor_id
        JOIN contenedor2 c2 ON cc2.contenedor2_id = c2.id
        JOIN contenedor2_contenedor3 cc3 ON c2.id = cc3.contenedor2_id
        JOIN contenedor3 c3 ON cc3.contenedor3_id = c3.id
        JOIN contenedor3_contenedor4 cc4 ON c3.id = cc4.contenedor3_id
        JOIN contenedor4 c4 ON cc4.contenedor4_id = c4.id;
''')

# Guardar los cambios
conn.commit()

# Consultar los datos de la vista
cursor.execute('SELECT * FROM vista_contenedores')
rows = cursor.fetchall()

# Imprimir los datos de la vista
for row in rows:
    print(row)

# Cerrar la conexión
conn.close()

(1, 'Facultades Generales', 1, 'A', 'Arquitectura', 'http://arquitectura.ejemplo.com', 1, 'Ingeniería Civil', 'http://civil.ejemplo.com', 1, 'Conferencia de Ingeniería', 'Charla técnica sobre ingeniería civil', '2024-10-15 09:00:00', '2024-10-15 12:00:00', '#FF0000', '#FFFFFF', 0)